@import '../../../../variable';

.wrapper {
  padding: 90px 250px;
  min-height: 1200px;

  .title {
    padding-left: 10px;
    border-left: 8px solid $primary-color;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .movies {
    margin-bottom: 40px;
  }
}