$primary-color: #0061f2;
$background-login: #f8f9fd;
$border-color-base: #dcdfe6;

// :root {
//   --color-primary: #409eff;
//   --border-color-base: #dcdfe6;
//   --color-danger: #f56c6c;
//   --color-warning: #e6a23c;
//   --color-infor: #909399;
// }

//#f4a100
//#00ac69
//#e81500